*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.feed_container{
    height: 200px;
    position: absolute;
    text-align: center;
    padding: 50px 0px ;
}

.feed_posts{
    margin-top: 50px;
    min-height: 71.2vh;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width:400px) {

    .feed_posts{
        margin-top: 50px;
        min-height: 71.2vh;
        display: flex;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
